bitsandbytes
pubchempy
rdkit
chembl_webresource_client
rcsb-api
dockstring
openbabel-wheel
openai
langchain_core 
langchain_openai
langgraph
gradio
torch
matplotlib
pillow 
gradio-client
transformers
numpy
accelerate